.separador-cards{
    margin-bottom: -106px !important;
    background-color: rgb(241, 241, 241);
}
.height-cards{
    bottom:121px;
}
.custom-card{
    padding-top:52px;
    padding-bottom:52px;
}
.custom-card-icon{
    font-size: 7vh;
}